parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false

    paths:
        - src/

    excludePaths:
        analyse:
            - manager
            - src/Runtime
            - src/Service
            - src/Reflection
